@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');

h1 {
    font-family: 'NanumSquareNeoHeavy';

}

nav {
    font-family: 'NanumSquareNeoBold';
}

.nav-link:hover {
    color: #4caf50 !important;
}

h2 {
    font-family: 'NanumSquareNeoHeavy';
    margin-bottom: 0;
}

h3 {
    font-family: 'NanumSquareNeoBold';
}

h4 {
    font-family: 'NanumSquareNeoBold';
}

h5 {
    font-family: 'NanumSquareNeo';
}

.card-body>h5 {
    font-family: 'NanumSquareNeoHeavy';
}

h6 {
    font-family: 'NanumSquareNeoBold';
}

p {
    font-family: 'NanumSquareNeo';
    margin-bottom: 0;

}

.cs-box {


    /*width: 90%;*/
    margin: 0 auto;
}

.ccs-box {
    width: 100%;

}

.cs-box>.file {

    background: url(./images/file.png) no-repeat calc(32% - 40px) 50%;

    color: #000;
    background-size: 13%;

}

.cs-box>.youtube {

    background: url(./images/youtube.png) no-repeat calc(32% - 40px) 50%;
    color: #000;
    background-size: 13%;

}

.cs-box>.call {

    background: url(./images/call.png) no-repeat calc(32% - 40px) 50%;
    color: #000;
    background-size: 13%;

}

.cs-box>.map {

    background: url(./images/map.png) no-repeat calc(32% - 40px) 50%;
    color: #000;
    background-size: 13%;

}



.file,
.map,
.youtube,
.call {
    padding: 40px 50px;
    text-align: end;


}

.file>h2,
.map>h2,
.youtube>h2,
.call>h2 {
    font-family: 'NanumSquareNeoBold';

}



.col {
    padding-left: 0;
    padding-right: 0;
}

.aa {


    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);



}

.card-body {
    height: 300px;
    position: relative;
    border: #000;
}

#sub-visual {
    height: 500px;
    position: relative;
}

.bg-02 {
    background: url(./images/top.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.bg-03 {
    background: url(./images/top3.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.bg-04 {
    background: url(./images/top4.jpg) no-repeat 50% 50%;
    background-size: cover;
}

#sub-visual .sub_tit {
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

.snb {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, .8);
    text-align: center;
    margin-bottom: 0;
}

.ul,
li {
    list-style: none;
    word-break: keep-all;
    line-height: 1;
}

.snb li {
    display: inline-block;
}

ul li {
    list-style-type: none;
}

.snb li a {
    display: inline-block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    font-family: "NanumSquareNeoBold";
}

.container2 {
    margin: 0 auto;
    max-width: 1334px;
    padding: 0px;
}

.relative {
    position: relative;
}

.col-md-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.sub_title {
    font-size: 34px;
    padding: 3% 0 3% 0;
    margin-bottom: 3%;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000000;
    font-family: "NanumSquareNeoHeavy";
}

.sub2_title {
    font-size: 27px;
    font-family: "NanumSquareNeoBold";
}

.foo_cont {
    background-color: #4caf50;
}



.fo {
    color: #fff;
    font-size: 12px;
}

.fo1 {
    font-weight: bold;
}

.po_co {
    color: #4caf50;
}




.tb {
    border-top: 2px solid;
    border-bottom: 2px solid;

}



.tb th {
    white-space: inherit;
    background: #F5F5F5;
    font-weight: 400;
    text-align: center;

}

.tb tr>* {
    padding: 2em 0;
    border: 1px solid #E6E6E6;
    border-top: 0;
}

.point {

    color: #4caf50;
    font-family: 'NanumSquareNeoHeavy';

}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

th {
    font-family: 'NanumSquareNeoHeavy';
}

tr {
    font-family: 'NanumSquareNeoBold';
}

.sub2_title {
    font-size: 30px;
    text-align: center;
    font-family: 'NanumSquareNeoHeavy';

}

.sub3_title {
    text-align: center;

}


.sub3_title>.su>h4 {
    margin-bottom: 20px;
    font-size: large;
    font-family: 'NanumSquareNeoHeavy';

}


.se {
    display: block;
    margin: 0px auto;
}



.g {
    line-height: 2.5;
    word-break: keep-all;
}

.img12 {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}


.img13 {
    width: 100%;
    height: 100%;

}

.img12l {
    width: 100%;
    height: 100%;
    padding-right: 10%;
}

.img12r {
    width: 100%;
    height: 100%;
    padding-left: 10%;
}

.images2 {
    margin: auto;
    display: block;
}

.snb>li>a {
    color: #fff;
    text-decoration: none;

}

.snb>li>a:hover {
    color: #4caf50;
}


.aw {
    justify-content: center;
}


.add {
    margin: 100px;
}

a.download {
    font-family: 'NanumSquareNeo';
}

a.download:link {
    text-decoration: none
}

a.download:visited {
    text-decoration: none
}

a.download:hover {
    text-decoration: underline
}

a.download:active {
    text-decoration: none
}

a.download:link svg {
    color: black;
}

a.download:visited svg {
    color: black;
}

a.download:hover svg {
    color: white;
}

a.download:active svg {
    color: black;
}

#home {
    background-image: url("./images/main_img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}